<!DOCTYPE html>
{% load bootstrap3 %}
<html {% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %} xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block bootstrap3_title %} RSS News {% endblock %}</title>
    {% bootstrap_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block bootstrap3_extra_head %}{% endblock %}
    {% load staticfiles %}
    <link href={% static "rss_news/style.css" %} type="text/css" rel="stylesheet">
    <link href={% static "rss_news/fontawesome/css/font-awesome.css" %} type="text/css" rel="stylesheet">
    <link href={% static "rss_news/bootstrapfiles/css/bootstrap.css" %} type="text/css" rel="stylesheet">
</head>
<body>
{% block bootstrap3_content %}{% endblock %}
{% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
{% block bootstrap3_extra_script %}{% endblock %}
</body>
{#<script src={% static "main/script.js" %}></script>#}
{% block add_script %}{% endblock %}
</html>
