{% extends 'my_bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}

    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-xs-0 col-md-3 col-lg-2"></div>
            <div class="col-xs-0 col-md-6 col-lg-8">

                <div class="post-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h3>{{ post.title }}</h3>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div>{{ post.text }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                        <button class="btn btn-sm btn-default">Add Favorite</button>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="col-xs-0 col-md-3 col-lg-2"></div>
        </div>
    </div>

{% endblock %}

{% block add_script %}

{% endblock %}